{% extends 'base.html' %}
{% block title %}
    <title>Registration page</title>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
    <form name="Login" method="post" novalidate class="form">
                {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email}}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
                        {% endif %}
        {% endwith %}


                  </div>
      </div>
    </div>
  </div>
{% endblock %}