<div class="modal" tabindex="-1" role="dialog" id="modal_dialog_login" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" onclick="CloseModalDialog()" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <p>Likes and comments are available only to registered users.</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="/register">Register</a>
        <a type="button" class="btn btn-outline-primary" data-dismiss="modal" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>