{% extends 'base.html' %}

{% block title %}
    <title>Registration page</title>
{% endblock %}

{% block content %}
{{ super() }}
{% for msg in get_flashed_messages(True) %}
<div class="flash">{{msg}}</div>
{% endfor %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
      <div class="card bg-white border-0 shadow m-3">
        <div class="card-body">
          <form method="POST">
            <div class="form-group">
              {{ form.first_name.label(class="form-label") }}
              <input type="text" class="form-control" id="first_name" name="first_name"  required>
            </div>
            <div class="form-group">
              {{ form.last_name.label(class="form-label") }}
              <input type="text" class="form-control" id="last_name" name="last_name"  required>
            </div>
            <div class="form-group">
              {{ form.username.label(class="form-label") }}
              <input type="text" class="form-control" id="username" name="username"  required>
            </div>
            <div class="form-group">
              {{ form.email.label(class="form-label") }}
              <input type="email" class="form-control" id="email" name="email"  required>
            </div>
            <div class="form-group">
              {{ form.image_file.label(class="form-label") }}
              <input type="file" class="form-control-file" id="image_file" name="image_file" required>
            </div>
            <div class="form-group">
              {{ form.password.label(class="form-label") }}
              <input type="password" class="form-control" id="password" name="password"  required>
            </div>
            <div class="form-group">
              {{ form.confirm.label(class="form-label") }}
              <input type="password" class="form-control" id="confirm" name="confirm"  required>
            </div>
            <div class="col-12 py-4">
              <div class="d-grid">
                <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
              </div>
            </div>
          </form>
                      <div class="col-12 py-2">
              <div class="d-grid">
            <div class="d-flex justify-content-center"><p>Already have an account? <a class="link-offset-2" href="/login">Sign in</a></p></div>
                </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}